@font-face {
	font-family: "legendary";
	src: url('add/font.ttf');
}

html {
    width:100%;
    height:100%;
    margin:0;
    padding:0;
}

body {
    width:100%;
    height:100%;
    padding:0;
    margin:0;
    font-family:'legendary';
}

.Droite {
    float:right;
    overflow:auto;
    width:70%;
    height:100%;
    background: url(image/back.png) no-repeat center fixed; 
    -webkit-background-size: cover;
    background-size: cover;
    /*background-color:#424242;*/
}

.Gauche {
    float:left;
    overflow:auto;
    background-color:#efedef;
    width:30%;
    height:100%;
}

.logo {
    float:right;
    width:45px;
    height:60px;
    margin:10px;
}

.login-body {
    position:relative;
    margin-top:50%;
    margin-left:13%;
    width:70%;
    border:none;
}

.register-body {
    position:relative;
    margin-top:15%; 
    margin-left:30%;
    width:40%;
    border:none;
}


.legend-login {
    font-size:35px;
    color: #292929;
}

.legend-register {
    font-size:35px;
    color: #efedef;
}

.login {
    font-size:15px;
    font-weight:bold;
    background:#efedef;
    outline:none;
    width:100%;
    height:40px;
    border:none;
    border-bottom: 2px solid grey;
}

.register {
    font-size:15px;
    font-weight:bold;
    background:#42424200;
    outline:none;
    width:100%;
    height:40px;
    border:none;
    border-bottom: 2px solid rgb(207, 207, 207);
    color:white;
}

.register::placeholder {
    color:rgb(160, 160, 160);
}

.submit-login {
    outline:none;
    cursor: pointer;
    width:100%;
    height:50px;
    border:none;
    color:white;
    background:#424242;
    border-radius:30px;
    font-weight:bold;
}

.submit-register {
    outline:none;
    cursor: pointer;
    width:100%;
    height:50px;
    border:none;
    color:#424242;
    background:#e0e0e0;
    border-radius:30px;
    font-weight:bold;
}

.menu {
    margin:0;
    padding:0;
    text-align:right;
    float:right;
    list-style:none;
    font-size:20px;
}

.menu a {
    text-decoration:none;
}

.menu li {
    color:white;
    margin:30px;
}

.menu li:hover{
    color:black;
}

.elements {
    font-size:12px;
    list-style:none;
    margin-top:55%;
    padding:0;
    text-align:center;
    /*margin-left:25%;*/
}

.elements li, .elements a {
    outline: none;
    display:inline;
    text-decoration:none;
    color: rgba(94, 94, 94, 0.411);
}

.forgot {
    outline: none;
    text-decoration:none;
    color: rgba(94, 94, 94, 0.411);
    font-size:10px;
    text-align:right;
}

